@use "variables";
@use "mixins";

body {
  margin: 0;
}

///////// Header ///////////

header.header {
  nav.main-nav {
    padding: 30px;
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    border-bottom: 2px solid black;
    background-color: variables.$background-color;

    a.button-nav {
      text-decoration: none;
      font-family: variables.$primary-font-family;
      color: variables.$primary-text-color;
    }
  }

  .logoImage {
    display: flex;
    position: absolute;
    margin: 0;
    justify-content: flex-start;

    .mainNavLogo {
      display: flex;
      align-items: center;
    }

    .mainNavLogo-image {
      max-width: 100%;
      width: 75px;
    }
  }
}

///////////////////////////////////////////////// Home Page /////////////////////////////////////////////

//////////////// Section 1 ///////////////////

.firstHomeSection {
  .titleContent {
    display: flex;
    position: absolute;
    justify-content: center;
    margin-top: 10%;
    width: 100%;

    h1.titleFirstSection {
      @include mixins.title-style;
    }
  }

  .discoveryButton {
    @include mixins.button-style;
    display: inline-block;
    position: absolute;
    margin-top: 20%;
    width: 13%;
    padding: 12px 24px;
    text-align: center;
    cursor: pointer;
  }
  .firstImageDiv {
    height: 700px;
    img.firstImage {
      object-fit: cover;
      height: 700px;
      width: 100%;
    }
  }
}

//////////////// Section 2 ////////////////

section.secondHomeSection {
  display: flex;
  flex-direction: row;
  background-color: variables.$second-background-color;

  img.secondImage {
    height: 700px;
    display: flex;
    margin-left: 30%;
    margin-top: 20%;
    margin-bottom: 15%;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: variables.$title-color;
    margin-top: 15%;
    margin-left: 10%;

    h1.titleSecondSection {
      @include mixins.title-style;
      font-size: 2.5rem;
      width: 100;
    }

    p.textSecondSection {
      font-family: variables.$primary-font-family;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      line-height: 22px;
      color: variables.$paragraph-color-light;
      width: 65%;
    }
  }
}

//////////////// Section 3 ////////////////

.thirdHomeSection {
  .titleContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    background-color: variables.$third-background-color;
    flex-direction: column;

    h1.titleThirdSection {
      @include mixins.title-style;
      color: black;
    }

    img.thirdImage {
      height: 700px;
    }

    .discoveryButton {
      @include mixins.button-style;
      display: inline-block;
      margin-top: 2%;
      width: 13%;
      padding: 12px 24px;
      text-align: center;
      cursor: pointer;
      margin-bottom: 3%;
    }
  }
}

//////////////// Section 4 ///////////////////

.forthHomeSection {
  display: flex;
  flex-direction: column;
  background-color: variables.$second-background-color;

  .titleContent {
    .titleForthSection {
      @include mixins.title-style;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  p.textSecondSection {
    font-family: variables.$primary-font-family;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    color: variables.$paragraph-color-light;
    margin-left: 5%;
    margin-right: 5%;
  }

  img.cardsImage {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.discoveryButton {
    @include mixins.button-style;
    display: inline-block;
    margin-top: 2%;
    width: 13%;
    padding: 12px 24px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 3%;
  }
}
