@use "variables";
@use "mixins";

body {
  margin: 0;
}

///////// Header ///////////

header.header {
  nav.main-nav {
    padding: 30px;
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    border-bottom: 2px solid black;
    background-color: variables.$background-color;

    a.button-nav {
      text-decoration: none;
      font-family: variables.$primary-font-family;
      color: variables.$primary-text-color;
      &:hover {
        text-decoration: underline;
        color: variables.$secondary-text-color;
        text-underline-offset: 7px;
      }
    }
  }

  .logoImage {
    display: flex;
    position: absolute;
    margin: 0;
    justify-content: flex-start;

    .mainNavLogo {
      display: flex;
      align-items: center;
    }

    .mainNavLogo-image {
      max-width: 100%;
      width: 75px;
    }
  }
}

///////////////////////////////////////////////// Home Page /////////////////////////////////////////////

//////////////// Section 1 ///////////////////

.firstHomeSection {
  .titleContent {
    display: flex;
    position: absolute;
    justify-content: center;
    margin-top: 10%;
    width: 100%;

    h1.titleFirstSection {
      @include mixins.title-style;
      text-align: center;
    }
  }

  .discoveryButton {
    @include mixins.button-style;
    display: inline-block;
    position: absolute;
    margin-top: 20%;
    width: 13%;
    padding: 12px 24px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      border: 1px solid white;
    }
  }

  .firstImageDiv {
    height: 700px;
    img.firstImage {
      object-fit: cover;
      height: 700px;
      width: 100%;
    }
  }
}

//////////////// Section 2 ////////////////

section.secondHomeSection {
  display: flex;
  flex-direction: row;
  background-color: variables.$second-background-color;

  img.secondImage {
    height: 700px;
    display: flex;
    margin-left: 30%;
    margin-top: 20%;
    margin-bottom: 15%;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: variables.$title-color;
    margin-top: 15%;
    margin-left: 10%;

    h1.titleSecondSection {
      @include mixins.title-style;
      font-size: 2.5rem;
      width: 100;
    }

    p.textSecondSection {
      font-family: variables.$primary-font-family;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      line-height: 22px;
      color: variables.$paragraph-color-light;
      width: 65%;
    }

    .discoveryButton {
      @include mixins.button-style;
      display: inline-block;
      position: absolute;
      margin-top: 25%;
      width: 13%;
      padding: 12px 24px;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        border: 1px solid #985b3c;
        color: #985b3c;
      }
    }
  }
}

//////////////// Section 3 ////////////////

.thirdHomeSection {
  .titleContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    background-color: variables.$third-background-color;
    flex-direction: column;

    h1.titleThirdSection {
      @include mixins.title-style;
      color: black;
    }

    img.thirdImage {
      height: 700px;
    }

    .discoveryButton {
      @include mixins.button-style;
      display: inline-block;
      margin-top: 2%;
      width: 13%;
      padding: 12px 24px;
      text-align: center;
      cursor: pointer;
      margin-bottom: 3%;
      border: 1px solid transparent;

      &:hover {
        background-color: transparent;
        border: 1px solid #985b3c;
        color: #985b3c;
      }
    }
  }
}

//////////////// Section 4 ///////////////////

.forthHomeSection {
  display: flex;
  flex-direction: column;
  background-color: variables.$second-background-color;

  .titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .titleForthSection {
      @include mixins.title-style;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  p.textForthSection {
    font-family: variables.$primary-font-family;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    color: variables.$paragraph-color-light;
    margin-left: 5%;
    margin-right: 5%;
  }

  .carousel {
    width: 100%;

    .carouselImages {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      cursor: pointer;
    }

    img.carouselImage {
      height: 150px;
      width: 250px;
      object-fit: cover;
    }
  }

  .discoveryButton {
    @include mixins.button-style;
    display: inline-block;
    margin-top: 2%;
    width: 13%;
    padding: 12px 24px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 3%;
    border: 1px solid transparent;

    &:hover {
      background-color: transparent;
      border: 1px solid white;
    }
  }
}
//////////////// Modal ///////////////////

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  img.imageModal {
    height: 500px;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .modalContent {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .buttonsCheveron {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
    

    button.carouselButton.prev {
        @include mixins.carousel-style;
      margin-right: 90%;
      flex-direction: row;
    }

    button.carouselButton.next {
        @include mixins.carousel-style;
        margin-left: 90%;
        flex-direction: row;
        font-size: 30px;
      }
    }
  }
}

//////////////// Section 5 ///////////////////

.fifthHomeSection {
  .titleContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    background-color: variables.$third-background-color;
    flex-direction: column;

    h1.titleFifthSection {
      @include mixins.title-style;
      color: black;
    }

    img.fifthImage {
      height: 250px;
      width: 270px;
      object-fit: cover;
    }

    .discoveryButton {
      @include mixins.button-style;
      display: inline-block;
      margin-top: 2%;
      width: 13%;
      padding: 12px 24px;
      text-align: center;
      cursor: pointer;
      margin-bottom: 3%;
      border: 1px solid transparent;

      &:hover {
        background-color: transparent;
        border: 1px solid white;
        color: #985b3c;
      }
    }
  }
}

//////////////// Footer ///////////////////

footer.footerSection {
  .footerContainer {
    background-color: variables.$background-color;
    height: 250px;
    nav.main-nav {
      padding: 30px;
      display: flex;
      gap: 35px;
      justify-content: flex-end;
      border-top: 2px solid black;
      background-color: variables.$background-color;

      a.button-nav {
        text-decoration: none;
        font-family: variables.$primary-font-family;
        color: variables.$primary-text-color;
      }
    }

    .logoImage {
      display: flex;
      position: absolute;
      margin: 0;
      justify-content: flex-start;
      flex-direction: column;
      margin-left: 5%;
      margin-top: 4px;
      width: 20%;

      .mainNavLogo {
        display: flex;
        align-items: center;
      }

      .mainNavLogo-image {
        max-width: 100%;
        width: 75px;
      }

      p.aboutMe {
        display: flex;
        width: 100%;
        color: variables.$secondary-text-color;
      }
    }
  }
}

/////////// Responsive Styles ///////////

////// Tablet: 890px to 1024px ///////
@media (min-width: 890px) and (max-width: 1024px) {
  header.header {
    nav.main-nav {
      padding: 20px;
      gap: 20px;
    }

    .logoImage {
      .mainNavLogo-image {
        width: 60px;
      }
    }
  }

  .firstHomeSection {
    .titleContent {
      margin-top: 15%;
    }

    .discoveryButton {
      width: 20%;
    }

    .firstImageDiv img.firstImage {
      height: 500px;
    }
  }

  section.secondHomeSection {
    flex-direction: column;
    img.secondImage {
      margin: 0 auto;
      width: 80%;
      height: auto;
    }

    .textContent {
      margin-left: 5%;
      margin-top: 10%;
      text-align: center;

      h1.titleSecondSection {
        font-size: 2rem;
      }

      p.textSecondSection {
        width: 90%;
      }
    }
  }

  .thirdHomeSection {
    .titleContent {
      margin-top: 8%;
      h1.titleThirdSection {
        font-size: 2rem;
      }

      .discoveryButton {
        width: 25%;
      }
    }
  }

  .forthHomeSection,
  .fifthHomeSection {
    .titleContent {
      h1 {
        font-size: 1.8rem;
      }
    }

    img.cardsImage,
    img.fifthImage {
      width: 200px;
      height: 200px;
    }

    p.textForthSection {
      margin-left: 5%;
      margin-right: 5%;
    }

    .discoveryButton {
      width: 20%;
    }
  }

  footer.footerSection {
    .footerContainer {
      nav.main-nav {
        padding: 20px;
      }

      .logoImage {
        margin-left: 3%;
        margin-top: 2%;

        p.aboutMe {
          font-size: 0.9rem;
        }
      }
    }
  }
}

////// Mobile: 320px to 768px ///////
@media (max-width: 768px) {
  header.header {
    nav.main-nav {
      flex-direction: column;
      align-items: center;
      padding: 15px;
      gap: 15px;
    }

    .logoImage {
      position: static;
      .mainNavLogo-image {
        width: 50px;
      }
    }
  }

  .firstHomeSection {
    .titleContent {
      margin-top: 20%;
    }

    .discoveryButton {
      width: 50%;
    }

    .firstImageDiv img.firstImage {
      height: 300px;
    }
  }

  section.secondHomeSection {
    flex-direction: column;

    img.secondImage {
      margin: 0 auto;
      width: 100%;
      height: auto;
    }

    .textContent {
      margin: 0;
      text-align: center;

      h1.titleSecondSection {
        font-size: 1.8rem;
      }

      p.textSecondSection {
        width: 90%;
      }

      .discoveryButton {
        width: 50%;
      }
    }
  }

  .thirdHomeSection {
    .titleContent {
      margin-top: 10%;

      h1.titleThirdSection {
        font-size: 1.8rem;
      }

      .discoveryButton {
        width: 50%;
      }
    }
  }

  .forthHomeSection,
  .fifthHomeSection {
    .titleContent {
      h1 {
        font-size: 1.6rem;
      }
    }

    img.cardsImage,
    img.fifthImage {
      width: 150px;
      height: 150px;
    }

    p.textForthSection {
      margin: 5%;
    }

    .discoveryButton {
      width: 50%;
    }
  }

  footer.footerSection {
    .footerContainer {
      nav.main-nav {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 10px;
      }

      .logoImage {
        flex-direction: column;
        margin-left: 0;

        p.aboutMe {
          text-align: center;
          font-size: 0.8rem;
        }
      }
    }
  }
}
