@use "variables";
@use "mixins";

body {
  margin: 0;
}

///////// Header ///////////

header.header {
  nav.main-nav {
    padding: 30px;
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    border-bottom: 2px solid black;
    background-color: variables.$background-color;

    a.button-nav {
      text-decoration: none;
      font-family: variables.$primary-font-family;
      color: variables.$primary-text-color;
      &:hover {
        text-decoration: underline;
        color: variables.$secondary-text-color;
        text-underline-offset: 7px;
      }
    }
  }

  .logoImage {
    display: flex;
    position: absolute;
    margin: 0;
    justify-content: flex-start;

    .mainNavLogo {
      display: flex;
      align-items: center;
    }

    .mainNavLogo-image {
      max-width: 100%;
      height: 70px;
    }
  }
}

///////////////////////////////////////////////// Home Page /////////////////////////////////////////////

//////////////// Section 1 ///////////////////

.firstHomeSection {
  .titleContent {
    display: flex;
    position: absolute;
    justify-content: center;
    margin-top: 10%;
    width: 100%;

    h1.titleFirstSection {
      @include mixins.title-style;
      text-align: center;
    }
  }

  .discoveryButton {
    @include mixins.button-style;
    display: inline-block;
    position: absolute;
    margin-top: 20%;
    padding: 12px 24px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      border: 1px solid white;
    }
  }

  .firstImageDiv {
    height: 700px;
    img.firstImage {
      object-fit: cover;
      height: 700px;
      width: 100%;
    }
  }
}

//////////////// Section 2 ////////////////

section.secondHomeSection {
  display: flex;
  flex-direction: row;
  background-color: variables.$second-background-color;

  img.secondImage {
    height: 500px;
    display: flex;
    margin-left: 30%;
    margin-top: 20%;
    margin-bottom: 15%;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: variables.$title-color;
    margin-top: 15%;
    margin-left: 10%;

    h1.titleSecondSection {
      @include mixins.title-style;
      font-size: 2.3rem;
      width: 100;
      text-align: center;
    }

    p.textSecondSection {
      font-family: variables.$primary-font-family;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      line-height: 22px;
      color: variables.$paragraph-color-light;
      width: 65%;
      text-align: center;
    }

    .discoveryButton {
      @include mixins.button-style;
      display: inline-block;
      position: absolute;
      margin-top: 25%;
      padding: 12px 24px;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        border: 1px solid #985b3c;
        color: #985b3c;
      }
    }
  }
}

//////////////// Section 3 ////////////////

.thirdHomeSection {
  .titleContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    background-color: variables.$third-background-color;
    flex-direction: column;

    h1.titleThirdSection {
      @include mixins.title-style;
      color: black;
      text-align: center;
    }

    img.thirdImage {
      height: 500px;
    }

    .discoveryButton {
      @include mixins.button-style;
      display: inline-block;
      margin-top: 2%;
      padding: 12px 24px;
      text-align: center;
      cursor: pointer;
      margin-bottom: 3%;
      border: 1px solid transparent;

      &:hover {
        background-color: transparent;
        border: 1px solid #985b3c;
        color: #985b3c;
      }
    }
  }
}

//////////////// Section 4 ///////////////////

.forthHomeSection {
  display: flex;
  flex-direction: column;
  background-color: variables.$second-background-color;

  .titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .titleForthSection {
      @include mixins.title-style;
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
    }
  }
  p.textForthSection {
    font-family: variables.$primary-font-family;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    color: variables.$paragraph-color-light;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
  }

  .carousel {
    width: 100%;

    .carouselImages {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      cursor: pointer;
      flex-wrap: wrap !important;
    }

    img.carouselImage {
      height: 250px;
      width: 200px;
      object-fit: cover;
    }
  }

  .discoveryButton {
    @include mixins.button-style;
    display: inline-block;
    margin-top: 2%;
    padding: 12px 24px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 3%;
    border: 1px solid transparent;

    &:hover {
      background-color: transparent;
      border: 1px solid white;
    }
  }
}
//////////////// Modal ///////////////////

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  img.imageModal {
    height: 500px;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .modalContent {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .buttonsCheveron {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: fixed;

      button.carouselButton.prev {
        @include mixins.carousel-style;
        margin-right: 90%;
        flex-direction: row;
      }

      button.carouselButton.next {
        @include mixins.carousel-style;
        margin-left: 90%;
        flex-direction: row;
        font-size: 30px;
      }
    }
  }
}

//////////////// Section 5 ///////////////////

.fifthHomeSection {
  .titleContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    background-color: variables.$third-background-color;
    flex-direction: column;

    h1.titleFifthSection {
      @include mixins.title-style;
      color: black;
      text-align: center;
    }

    img.fifthImage {
      height: 250px;
      width: 270px;
      object-fit: cover;
    }

    .discoveryButton {
      @include mixins.button-style;
      display: inline-block;
      margin-top: 2%;
      padding: 12px 24px;
      text-align: center;
      cursor: pointer;
      margin-bottom: 3%;
      border: 1px solid transparent;

      &:hover {
        background-color: transparent;
        border: 1px solid white;
        color: #985b3c;
      }
    }
  }
}

//////////////// Footer ///////////////////

footer.footerSection {
  .footerContainer {
    background-color: variables.$background-color;
    height: 250px;
    nav.main-nav {
      padding: 30px;
      display: flex;
      gap: 35px;
      justify-content: flex-end;
      border-top: 2px solid black;
      background-color: variables.$background-color;

      a.button-nav {
        text-decoration: none;
        font-family: variables.$primary-font-family;
        color: variables.$primary-text-color;
      }
    }

    .logoImage {
      display: flex;
      position: absolute;
      margin: 0;
      justify-content: flex-start;
      flex-direction: column;
      margin-left: 5%;
      margin-top: 4px;
      width: 20%;

      .mainNavLogo {
        display: flex;
        align-items: center;
      }

      .mainNavLogo-image {
        max-width: 100%;
        height: 70px;
      }

      p.aboutMe {
        display: flex;
        width: 100%;
        color: variables.$secondary-text-color;
      }
    }
  }
}

/////////////////// Responsive Style //////////////////////////////

////////////////// Tablet: 890px to 1024px ///////
@media (min-width: 890px) and (max-width: 1024px) {
  header.header nav.main-nav {
    gap: 20px;
    font-size: 13px;
  }

  .firstHomeSection .titleContent h1.titleFirstSection {
    font-size: 3rem;
  }

  section.secondHomeSection .textContent .discoveryButton {
    margin-top: 0%;
    position: inherit;
    width: 30%;
  }

  .thirdHomeSection .titleContent h1.titleThirdSection {
    font-size: 3rem;
  }
}


////////////////// Mobile: 320px to 798px //////////////////
@media (min-width: 320px) and (max-width: 798px) {
  ///////////////// Header  - Mobile /////////////////
  header.header {
    display: flex;
    background: #eae5de;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
  }

  header.header nav.main-nav {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
  }

  header.header .logoImage .mainNavLogo-image {
    margin-left: 0;
  }

  ///////////////// Section 1  - Mobile /////////////////

  .firstHomeSection .discoveryButton {
    @include mixins.button-style-responsive;
    margin-top: 180px;
  }

  .firstHomeSection .titleContent h1.titleFirstSection {
    font-size: 2rem;
  }

  .firstHomeSection .firstImageDiv {
    height: 300px;

    img.firstImage {
      height: 300px;
    }
  }

  ///////////////// Section 2  - Mobile /////////////////

  section.secondHomeSection {
    display: flex;
    flex-direction: column;
    background-color: #221b19;
  }

  .secondImageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.secondHomeSection img.secondImage {
    height: 300px;
    display: flex;
    margin-left: 0;
    margin-top: 20%;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
  }

  section.secondHomeSection .textContent {
    margin-left: 5%;
    margin-bottom: 9%;
  }

  section.secondHomeSection .textContent .discoveryButton {
    @include mixins.button-style-responsive;
    position: inherit;
    margin-top: 0;
  }

  section.secondHomeSection .textContent h1.titleSecondSection {
    margin: 0 20px 0 20px;
    font-size: 1.5rem;
  }

  section.secondHomeSection .textContent .discoveryButton {
    @include mixins.button-style-responsive;
  }

  ///////////////// Section 3  - Mobile /////////////////

  .thirdHomeSection .titleContent img.thirdImage {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }

  .thirdHomeSection .titleContent .discoveryButton {
    @include mixins.button-style-responsive;
  }

  .thirdHomeSection .titleContent h1.titleThirdSection {
    font-size: 2rem;
  }

  ///////////////// Section 4  - Mobile /////////////////

  .forthHomeSection .titleContent .titleForthSection {
    font-size: 2rem;
  }

  .forthHomeSection .discoveryButton {
    @include mixins.button-style-responsive;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ///////////////// Section 5  - Mobile /////////////////

  .fifthHomeSection .titleContent h1.titleFifthSection {
    font-size: 2.5rem;
  }

  .fifthHomeSection .titleContent .discoveryButton {
    @include mixins.button-style-responsive;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  ////////////////// Modal - Mobile /////////////////
  
  .modalOverlay img.imageModal {
    height: 300px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.modalOverlay .modalContent .buttonsCheveron{
    width: 90%;
}

  ///////////////// Footer  - Mobile /////////////////
  footer.footerSection .footerContainer nav.main-nav {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }

  footer.footerSection .footerContainer nav.main-nav a.button-nav {
    font-size: 12px;
    width: 40%;
    position: inherit;
    margin-top: 0;
  }

  footer.footerSection .footerContainer .logoImage p.aboutMe {
    text-align: center;
  }

  footer.footerSection .footerContainer .logoImage {
    width: 50%;
  }
}
