@use "variables";

@mixin button-style {
  font-size: variables.$buttons-font-size;
  color: variables.$buttons-text-color;
  background-color: variables.$buttons-background-color;
  border: none;
  width: variables.$buttons-width;
}

@mixin title-style {
  font-family: variables.$primary-font-family;
  font-size: variables.$primary-font-size;
  color: variables.$title-color;
  font-weight: variables.$text-font-weight;
}

@mixin carousel-style {
  background-color: variables.$carousel-background-color;
  border: variables.$carousel-border;
  position: variables.$carousel-position;
  display: variables.$carousel-display;
  font-size: variables.$carousel-font-size;
  cursor: variables.$carousel-cursor;
  color: variables.$carousel-color;
}

@mixin button-style-responsive {
  font-size: variables.$buttons-responsive-font-size;
  color: variables.$buttons-responsive-text-color;
  background-color: variables.$buttons-responsive-background-color;
  border: none;
  width: variables.$buttons-responsive-width;
}