// _variables.scss
$background-color: #EAE5DE;
$primary-text-color: #985B3C;
$secondary-text-color: #351707;
$second-background-color: #221B19;
$third-background-color: #FFFFFF;
$paragraph-color-light: #ACACAC;

$primary-font-family: 'Questrial';
$primary-font-size: 3.5rem;
$title-color: white;
$text-font-weight: 100;

$font-tan-angleton: 'Satisy', serif;
$font-aileron: 'Lora', sans-serif;

// Buttons

$buttons-font-size: 12px;
$buttons-text-color: white;
$buttons-background-color:#985B3C;

